.ico_1{color: #fff; font-size: 14px;
    margin-top: 5px;}

.chat_fa_btn{margin-top:50px;position: fixed; right: 20px; bottom: 80px;
    a{display: flex; justify-content: center;
    align-items: center; width: 60px; height: 60px;
    background-color: #ffe84c; border-radius: 50%;
    box-shadow: 0 2px 6px #0004; font-size: 18px;
    color: #513736; 
    transition: color 300ms linear 0s, background 300ms linear 0s;
    &:hover{background: #513736; color: #ffe84c;}
    }}
