.ico_1{color: #fff; font-size: 14px;
    margin-top: 5px;}

.main-sectionC{margin-left: -40px;
    ul{display: flex; flex-direction: column;
    list-style: none;
    li{margin : 10px;
    a{display: flex; flex-direction: row;
    text-decoration: none; color: #000;
    font-size: 14px;align-items: center; }}}
 .profile-name{flex:auto; margin-left: 10px;
    font-size: 10px;}
 .profile-messages{height: 30px; line-height: 30px;
    margin-right: 15px; padding: 0 10px;
    border-radius: 5px;
    background: #f0f0f0; font-size: 10px; color: #8e9399;}}

.chat_fa_btn{margin-top:50px;position: fixed; right: 20px; bottom: 80px;
    a{display: flex; justify-content: center;
    align-items: center; width: 60px; height: 60px;
    background-color: #ffe84c; border-radius: 50%;
    box-shadow: 0 2px 6px #0004; font-size: 18px;
    color: #513736; 
    transition: color 300ms linear 0s, background 300ms linear 0s;
    &:hover{background: #513736; color: #ffe84c;}
    }}
