// 스크롤바 안보이게
body {
    -ms-overflow-style: none;
}
 
::-webkit-scrollbar {
    display: none;
}

// 메인
main{margin-top: 60px; font-size: 14px;}
.blind{display: none;}

.user_info{display: flex; align-items: center; height: 72px;
    border-bottom: 1px solid #ebebeb;}
.myprofile_img{
    width: 50px; height: 50px;
    background-color: #ccc;
    background-size: cover;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: 20px;}

 .profile_info{flex: auto; display: flex;
    flex-direction: column; margin-left: 10px;
    margin-top: 5px;
  .profile_name{font-size: 16px;
    font-weight: bold;}
  .profile_email{color: #8e9399;
    font-size: 12px; padding-top: 3px; margin-left:5px;}}
  .chat_img a{font-size: 30px; margin-right: 15px;
    color: #513736;}
  .ico1{font-size:25px; margin-right: 20px;}


/* user_menu */
.user_menu{height: 125px; border-bottom: 1px solid #ebebeb;
    ul{display: flex; flex-direction: row;
    align-items: center; height: 100%;
    li{overflow: hidden; flex: 1;
    a{display: flex; flex-direction: column;
    align-items: center; color: #513736; font-weight: bold;
    transition: transform 300ms linear 0s;
    text-decoration: none;
    &:hover{transform: scale(1.05);}
    .ico{font-size: 30px; margin-bottom: 10px; height: 50px;}}
    }}}

/* plus_friends */
.plus_friends{height: 280px;
    div{display: flex; justify-content: space-between;
    font-size: 10px; padding: 5px 15px;
        span{color: #8e9399; font-size: 14px;}}

    .plus_list{display: flex; flex-wrap: wrap; font-size: 12px;
        li{display: flex; align-items: center;
        width: 50%; height: 45px;
        a{text-decoration: none; color: #000;
        .ico{margin: 0 15px; font-size: 16px;}}
        }}
    }

/* more_app */
.more_app{padding: 15px;
    ul{display: flex; flex-direction: row; list-style: none;
    li{width: 75px;
    a{display: flex; flex-direction: column;
    align-items: center; width: 100%;
    text-decoration: none; font-size: 12px;
    }}}
    li span.app_icon{display: block; width: 44px; height: 44px;
    margin-bottom: 10px; background: url(/images/empty.jpg) 0 0 no-repeat;
    background-size: cover;}}
    
.more_app li:nth-child(1) .app_icon{background-image: url(/images/kakaostory.png);}
.more_app li:nth-child(2) .app_icon{background-image: url(/images/path.png);}
.more_app li:nth-child(3) .app_icon{background-image: url(/images/kakaofriends.png);}