/* Profile SCSS */

.main.profile-wrap {
 height: calc(100% - 10px);
 .bgl{position: relative; top: -30px;
  list-style: none; font-size: 20px;
  cursor: pointer;
  .close{float:left; font-size: 20px;
  margin-left: -35px; color: #fff;
  cursor: pointer; background: none;
  border: none;
  }
  .user_icon{float:right; margin-right: 10px;
    color: #fff;}

 }
 .background {
   margin-top: -50px;
   height: 50vh;
   background: url(../images/style_5ac230eed81c4.jpg) no-repeat 0 0;
   background-size: cover;
  }
}

.profile {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  .profile-img{
    cursor: pointer;
    position: absolute;
    top: -65px;
   img{object-fit: cover;
    width: 100px;
    height: 100px;
    margin-left: 3px;
    border-radius: 40px;
    &:hover{
      filter:sepia(30%);
      transition: all ease 0.8;}}
  }
  .profile-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    .logOut{
      position:relative;
      bottom: 48px;
      left: 10px;
      border: 1px solid #000;
      padding: 5px;
    }
    .profile-name {
      font-size: 16px;
    }
    .profile-email {
      width: 148px;
      height: 24px;
      margin: 15px 0 30px;
      text-align: center;
    }
  }
  .profile-menu {
    display: flex; list-style: none;
    margin-left: 20px; margin-top:-10px;
    li {
      margin: 0 5px;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: #000;
      font-size: 12px;
    }
    span {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin-bottom: 10px;
      border-radius: 50%;
      background-color: #f2f2f2;
      color: #513736;
      font-size: 18px;
      text-align: center;
      &:hover{background: #513736; color: #ffe84c;}
    }
  }
}