.background_C{
  margin-top: -50px;
  height: 50vh;
   background: url(../images/wallpaper.jpg) no-repeat 0 0;
   background-size: cover;
}

.profile_friends{list-style:none;
  ul{float: left;}
  li{float: right; 
  span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height:30px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.9);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    &:hover{border: 2px solid rgba(255,255,255,1);
      color:#ec407a;}
}}}

.profile-emailC{
  width: 160px;
  height: 24px;
  margin: 15px 0 30px;
  text-align: center;
  border: none;
  outline: none;}

.profile-menu-C{
    display: flex; list-style: none;
    margin-left: -45px; margin-top: -10px;
    li {
      margin: 0 5px;
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: #000;
      font-size: 12px;
    }
    span {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      margin-bottom: 15px;
      border-radius: 50%;
      background-color: #f2f2f2;
      color: #513736;
      font-size: 18px;
      text-align: center;
      &:hover{background: #513736; color: #ffe84c;}
    }
    .icon2{
        font-size: 25px;
        line-height: 55px;
    }
  }
