/* header.css */

header{position: fixed; left: 0; top: 0;
    width: 100%; height: 64px;
    display: flex; flex-direction: column; background: #513736;
    color: #fff; padding: 0 15px; box-sizing: border-box;}

.ico_s{font-size: 14px; margin-left: 2px; padding-top: 3px;}
.ico{font-size: 18px;}


.status_bar{display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    height: 37.5%;}
.status_bar>div{flex: 1;/*border: 1px solid red;*/}
.status_bar>div:nth-child(1){text-align: left; }
.status_bar>div:nth-child(2){text-align: center; font-size: 12px;}
.status_bar>div:nth-child(3){text-align: right;}


.status_bar>.right_item>span{font-size:12px;
}

.title_bar{display: flex; flex-direction: row;
    justify-content: space-between; align-items: center;
    height: 62.5%;}
.title_bar>*{flex: 1; font-size: 16px; /*border: 1px solid red;*/}
/* '*' 모든 자식 선택자 */
.title_bar>h1{order: 2; text-align: center;}
/* order: flex 박스에서 순서 변경 */
.title_bar>.head{color: #fff;}
.title_bar>.head>.span{color:#f8ea65;}
.title_bar>.left_item{order: 1; text-align: left;
    color: rgba(255,255,255,0.8);text-decoration: none;
    cursor: pointer;}
.title_bar>.right_item{order: 3; text-align: right; font-size: 20px;
    color: #fff; cursor: pointer;;}

